.App {
  text-align: center;
}

.App .image0 {
  background-image: url("images/aquarell.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin: 2% 20%;
  padding-top: 20px;
  padding-bottom: 150px;
}

.App .image1 {
  background-image: url("images/ocean.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin: 2% 20%;
  padding-top: 20px;
  padding-bottom: 150px;
}

.App .image2 {
  background-image: url("images/palms.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin: 2% 20%;
  padding-top: 20px;
  padding-bottom: 150px;
}

.App .btn {
  background-color: #6cb4ee;
  font-size: 18px;
}

.App a:visited {
  background-color: #6cb4ee;
  color: black;
}

.App a:hover {
  transition: ease-in-out, 0.5s;
  background-color: #3486c8;
  color: black;
}

.App h1,
h2 {
  font-family: "Dancing Script", cursive;
}

.App img {
  border-radius: 15px;
}
